@font-face {
    font-family: mySamsungSharpSans;
    src: url(./Fonts/Fonts/SamsungSharpSans-Bold.ttf);
}

@font-face {
    font-family: mySamsungOne-700;
    src: url(./Fonts/Fonts/SamsungOne-700.ttf);
}

@font-face {
    font-family: mySamsungOne-400;
    src: url(./Fonts/Fonts/SamsungOne-400.ttf);
}

.footerContainer {
    background:linear-gradient(to left, #6de7fa, #065a6e); 
    /* background-color: #06c6f7; */
    padding-top: 42px;
    margin-top: 50px;
    margin: 1rem 1.4rem auto;
}


/* Starting Footer Content CSS */
.FooterContent{
    display: inline-flex;
    width: 100%;
}

.footerBoxs {
    background-color: none;
    margin-right: 100px;
    width: 150px;
    color:black;
    font-size: 0.9rem;
}

#firstFooterBox {
    margin-left: 100px;
}

.footerBoxs h3 {
    font-family: mySamsungSharpSans;
}

.footerBoxs p{
    font-family: mySamsungOne-700;
}

.socialmedia_imgs{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.visacard_img{
    width: 35px;
    height: 35px;
}

.mastercard_img{
    width: 50px;
    height: 35px;
}

/* Ended Footer Content CSS */




/* Starting Footer copyright CSS */
.copyRight{
    margin-top: 40px;
    background-color: none;
    text-align: center;
    font-size: 0.9rem;
    color: rgb(44, 34, 34);
}

/* Ended Footer copyright CSS */